#config file for codis dashboard

coordinator={{ coordinator }}
zk={{ zookeeper_url }}
product={{ product }}
dashboard_addr={{ dashboard_addr }}
password=
backend_ping_period=5
session_max_timeout=1800
session_max_bufsize=131072
session_max_pipeline=1024
zk_session_timeout=30000
proxy_id=proxy_1

